@import 'theme';

.appLoader {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: $themeHeight;
    z-index: 65;    
    opacity: 1;
    pointer-events: none;
    display: flex;
    background-color: $themeColor-Light-grey;

    &:before {
        background-color: $themeColor-red;
        height: $themeHeight;
        width: 100%;
        margin: 0;
        content: '';
        animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }

    @keyframes running-progress {
        0% {
            margin-left: 0px;
            margin-right: 100%;
        }
        50% {
            margin-left: 25%;
            margin-right: 0%;
        }
        100% {
            margin-left: 100%;
            margin-right: 0;
        }
    }
}
