/* purgecss start ignore */
@import './bootstrap.scss';
body{
  background-color: $body-bg;
}
.filterform,
.floatingForm{
  .form-control,
  .form-control:focus,
  .form-control::before,
  .form-control::after,
  .form-input,
  .form-input:focus,
  .form-input::before,
  .form-input::after,
  .form-select,
  .form-select:focus,
  .form-select::before,
  .form-select::after {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:0.5px solid black;
    border-radius: 0% !important;
    box-shadow: none !important;
    background-color: $body-bg;
  }

  .form-control.is-valid{
    background-image:none !important;
  }

  .form-select.is-valid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
  }

  .form-check{
    padding-left: 2rem !important;
  }

  .form-check-input.is-valid~.form-check-label
  {
    color: black !important;
  }

  .form-check-input.is-valid{
    border-color: black !important;
  }
}


.app-wrapper {
  min-height: 72vh;
}
