@import 'src/App/bootstrap.scss';

.toast-msg {
  text-align: left;
  flex-grow: 1;
  color: white;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
}

.toast-close {
  cursor: pointer;
  font-size: 1rem;
  color: rgb(212, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: auto;
  pointer-events: auto;
}

// .show {
//   transform: translateY(0px);
// }

.toast-wrapper {
  position: fixed;
  bottom: 2px;
  left: 35%;
  margin: auto;
  z-index: 999999;
  width: 30% !important;
  display: flex;
  align-items: center;

  .toast-container {
    height: max-content;
    padding: 12px 20px;
  }
  .toastContainer{
    width:  100% !important;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
