@import 'src/App/bootstrap.scss';
.filter-wrapper{
  display: grid;
  grid-template-columns: repeat(9, 2fr);
  grid-gap: 0.75rem;
}

.filterText{
  // font-family: Verdana;
  font-size: small !important;
  font-weight: normal !important;
}

.filter-wrapper{
  .dropdown-menu{
    border-radius: 0px !important ;
  }
  .dropdown-toggle::after {
    position: absolute;
    right: 8px;
    top: 55%;
  }

  .mcctoggle::after{
    right: -6px !important;
  }
  .btn:focus{
    box-shadow: none !important;
  }
  .filter-category{
    border-bottom: 0.5px solid black !important;
  }

  .filter-list{
    cursor: pointer !important;
  }
}

@include media-breakpoint-between(md, md) {
    .filter-wrapper {
      grid-template-columns: repeat(5, 2fr);
    }
}
