@import 'src/App/theme.scss';
.breadcrumblink {
  text-decoration: none !important;
}

.breadcrumb{
  background-color: $body-bg !important;
}

.breadcrumb .breadcrumb-item-list + .breadcrumb-item-list::before {
  display: unset !important;
  content: '>';
  margin: 0 0.25rem;
}
