@import 'src/App/theme.scss';
.mccselection{
  // padding-left: 0% !important;
  // padding-right: 7rem !important;
}

.oppo-wrapper{
  .table-striped>thead>tr {
    background-color: #679ad1;
    color: white !important;
  }
}




#oppotable{
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    input[type="input"],
    input[type="date"] {
      width: 100px;
    }
    select,textarea{
      width: 100px;
    }
    th{
      padding-bottom: 1px;
      padding-top: 1px;
      text-align: center;
      padding-right: 1px;
      padding-left: 1px;
    }
    .editcheckbox{
      margin-top: 5px;
    }

    .ciaraId,.isnumebrfield{
      width: 50px !important;
      text-align: center;
    }

    .isbooleanfield{
      width: 60px !important; 
    }
}

.oppoBlock{
  .page-link,
  .page-link::after,
  .page-link::before,
  .page-link:focus{
    border: none !important;
    border-radius: 0% !important;
    box-shadow: none !important;
    background-color: white !important;
    color: black !important ;
    font-size: 20px !important;
  }
  

  .active{
    .page-link{
      color: $primary !important ;
    }
  }
}
