@import 'src/App/theme.scss';
.logo-image{
  width: 120px !important;
}
.header-section{
  background-color: $header-bg !important;
  color: black !important;
  box-shadow: 0px 6px 18.4px 1.6px rgb(0 0 0 / 6%) !important;
  position: relative;
    z-index: 2;
}
.headerLink{
  text-decoration: none !important;
  color: black !important;
}

.header-wrapper{
  .menu-btn{
    color: black !important;
  }
  .dropdown-menu{
    border-radius: 0px !important ;
    .dropdown-item:hover{
      background-color: white !important;
    }
  }
  .dropdown-toggle::after{
    vertical-align: 0.155em !important;
  }
  .btn:focus{
    box-shadow: none !important;
  }
}

.categorypointer{
  cursor: pointer !important;
}
